body {
    font-family: sans-serif;
    background-image: linear-gradient(gainsboro, lightgray,black);
}

h1 {
    color:darkviolet;
    font-size: 50px;
    text-align: center;
}


h2{
    color: black;
}

p{
    color:black;
    font-size: 30px;
    text-align: justify;
}


.logo {
    width: 600px;
    height: 600px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entreum elemento e sua borda*/
    border: 0.2rem solid black;
    border-radius: 20px;
}

.fotos {
    width: 600px;
    height: 500px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid black;
    border-radius: 24px;
}