body {
    background-color:gainsboro;
}

h1 {
    color:darkviolet;
    font-size: 50px;
    text-align: center;
}

p{
    color:black;
    font-size: 30px;
    text-align: justify;
}


.logo {
    width: 900px;
    height: 900px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entreum elemento e sua borda*/
    border: 0.2rem solid black;
    border-radius: 20px;
}

.fotos {
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid black;
    border-radius: 24px;
}